#s-home {
    padding: 0 50px;
    background-color: #111;
    position: relative;
}

#s-home {
    padding: 0px 50px;
    background-color: var(--bg-main);
    position: relative;
}

#s-home .grid-layout #home {
    display: flex;
    align-items: center;
    min-height: 90vh;
    padding: 200px 0px;
    overflow: hidden;
    width: 100%;
}

#home-container-text {
    width: 100%;
    flex-direction: column;
}

/* Span dentro do h1 */
#home-container-text h1 span {
    color: var(--color-main);
}

  /* Parágrafo */
#home-container-text p {
    color: var(--color-gray);
    font-size: 2rem;
    max-width: 600px;
    margin: 40px 0px;
    font-weight: 300;
    line-height: 160%;
}