/* Reset e configurações globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--color-main);
}

::selection {
    background-color: var(--color-main);
    color: var(--color-white);
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


body {
    font-family: "Archivo";
    background-color: #111111;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: var(--gap-1);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-main);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: var(--gap-1);
}
