:root {
    /*FONT*/
    --font-space: "Space Grotesk", serif;

    /*COLORS */
    
    --color-main: #986dff;
    --color-white: #ffffff;
    --color-gray: #9ca3af;
    --bg-main: #111111;
    --bg-secondary: #151515;
    --bg-border: #1f1f1f;

    /*GAP*/
    --gap-0: 0px;
    --gap-1: 8px;
}